In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
import locale

In [4]:
# Data files
mountain_elevation_data = "data/mountain_elevation.csv"

# Read in the data
mountain_elevation = pd.read_csv(mountain_elevation_data)
mountain_elevation

       State       Mountain_Name Elevation Latitude / Longitude
0    Alabama   Cheaha Mountain       726 m     33.486 / -85.809
1    Alabama  Talladega Mountain     715 m     33.458 / -85.812
2    Alabama          Odum Point     714 m     33.416 / -85.831
3    Alabama      Hernandez Peak     703 m     33.458 / -85.813
4    Alabama           Bald Rock     696 m     33.495 / -85.808
..       ...                 ...       ...                  ...
505       DC      Mount Hamilton      71 m     38.909 / -76.975
506       DC         Bunker Hill      71 m     38.935 / -76.988
507       DC    Soapstone Valley      65 m     38.948 / -77.065
508       DC           Lees Hill      63 m     38.913 / -77.066
509       DC          Round Hill      61 m     38.926 / -76.989

[510 rows x 4 columns]

In [5]:
# Remove the 'm' from elevation row

mountain_elevation['Elevation'] = mountain_elevation['Elevation'].map(lambda x: str(x)[:-1])
mountain_elevation

       State       Mountain_Name Elevation Latitude / Longitude
0    Alabama   Cheaha Mountain        726      33.486 / -85.809
1    Alabama  Talladega Mountain      715      33.458 / -85.812
2    Alabama          Odum Point      714      33.416 / -85.831
3    Alabama      Hernandez Peak      703      33.458 / -85.813
4    Alabama           Bald Rock      696      33.495 / -85.808
..       ...                 ...       ...                  ...
505       DC      Mount Hamilton       71      38.909 / -76.975
506       DC         Bunker Hill       71      38.935 / -76.988
507       DC    Soapstone Valley       65      38.948 / -77.065
508       DC           Lees Hill       63      38.913 / -77.066
509       DC          Round Hill       61      38.926 / -76.989

[510 rows x 4 columns]

In [8]:
# new data frame with split value columns 
new = mountain_elevation["Latitude / Longitude"].str.split("/", n = 1, expand = True) 
  
# making separate first name column from new data frame 
mountain_elevation["Latitude"]= new[0] 
  
# making separate last name column from new data frame 
mountain_elevation["Longitude"]= new[1] 
  
# Dropping old Name columns 
mountain_elevation.drop(columns =["Latitude / Longitude"], inplace = True) 
  
# df display 
mountain_elevation

       State       Mountain_Name Elevation Latitude Longitude
0    Alabama   Cheaha Mountain        726   33.486    -85.809
1    Alabama  Talladega Mountain      715   33.458    -85.812
2    Alabama          Odum Point      714   33.416    -85.831
3    Alabama      Hernandez Peak      703   33.458    -85.813
4    Alabama           Bald Rock      696   33.495    -85.808
..       ...                 ...       ...      ...       ...
505       DC      Mount Hamilton       71   38.909    -76.975
506       DC         Bunker Hill       71   38.935    -76.988
507       DC    Soapstone Valley       65   38.948    -77.065
508       DC           Lees Hill       63   38.913    -77.066
509       DC          Round Hill       61   38.926    -76.989

[510 rows x 5 columns]

In [9]:
mountain_elevation.dtypes

State            object
Mountain_Name    object
Elevation        object
Latitude         object
Longitude        object
dtype: object

In [15]:
mountain_elevation['Elevation'] = mountain_elevation['Elevation'].str.replace(',', '')
mountain_elevation

       State       Mountain_Name Elevation Latitude Longitude
0    Alabama   Cheaha Mountain        726   33.486    -85.809
1    Alabama  Talladega Mountain      715   33.458    -85.812
2    Alabama          Odum Point      714   33.416    -85.831
3    Alabama      Hernandez Peak      703   33.458    -85.813
4    Alabama           Bald Rock      696   33.495    -85.808
..       ...                 ...       ...      ...       ...
505       DC      Mount Hamilton       71   38.909    -76.975
506       DC         Bunker Hill       71   38.935    -76.988
507       DC    Soapstone Valley       65   38.948    -77.065
508       DC           Lees Hill       63   38.913    -77.066
509       DC          Round Hill       61   38.926    -76.989

[510 rows x 5 columns]

In [16]:
mountain_elevation.head(50)

         State           Mountain_Name Elevation Latitude  Longitude
0      Alabama       Cheaha Mountain        726   33.486     -85.809
1      Alabama      Talladega Mountain      715   33.458     -85.812
2      Alabama              Odum Point      714   33.416     -85.831
3      Alabama          Hernandez Peak      703   33.458     -85.813
4      Alabama               Bald Rock      696   33.495     -85.808
5      Alabama       Parker High Point      667   33.416     -85.825
6      Alabama          Big Caney Head      648   33.413     -85.834
7      Alabama            McDill Point      648   33.454     -85.822
8      Alabama             Rock Garden      636   33.482     -85.815
9      Alabama             Morton Hill      628   33.693     -85.739
10      Alaska                Denali       6194   63.069    -151.006
11      Alaska              South Peak     6186   63.069    -151.006
12      Alaska         Churchill Peaks     6186   63.069    -151.006
13      Alaska           Farthing Horn     6034   63.072    -151.002
14      Alaska             Carter Horn     6031   63.068    -150.999
15      Alaska              North Peak     5920   63.097    -151.005
16      Alaska       Archdeacons Tower     5859   63.074     -151.02
17      Alaska             Denali Pass     5571   63.083    -151.028
18      Alaska     Mount Saint Elias       5510   60.293     -140.93
19      Alaska         Mount Foraker       5270   62.961    -151.398
20     Arizona        Humphreys Peak       3829   35.346    -111.678
21     Arizona          Agassiz Peak       3756   35.326    -111.678
22     Arizona  San Francisco Mountain     3739   35.341    -111.683
23     Arizona          Fremont Peak       3644   35.323    -111.661
24     Arizona           Aubineau Peak     3603   35.355     -111.66
25     Arizona               Rees Peak     3491   35.356    -111.652
26     Arizona            Doyle Peak       3489    35.33    -111.646
27     Arizona           Mount Baldy       3472   33.906    -109.563
28     Arizona              Baldy Peak     3472   33.906    -109.563
29     Arizona            Doyle Saddle     3463   35.323    -111.672
30    Arkansas     Magazine Mountain        838   35.167     -93.645
31    Arkansas             Signal Hill      838   35.167     -93.645
32    Arkansas          Mossback Ridge      827   35.167     -93.629
33    Arkansas         Poteau Mountain      812   34.963     -94.374
34    Arkansas     Black Fork Mountain      811   34.712     -94.368
35    Arkansas           Blue Mountain      796   34.686     -94.048
36    Arkansas           Cameron Bluff      775   35.173     -93.643
37    Arkansas               House Gap      775   35.165      -93.64
38    Arkansas         Poteau Mountain      771   34.962     -94.369
39    Arkansas           Rich Mountain      764    34.67      -94.31
40  California         Mount Whitney       4412   36.578    -118.292
41  California         Sierra Nevada       4400   36.579    -118.293
42  California      Mount Williamson       4384   36.656    -118.311
43  California        North Palisade       4348   37.094    -118.514
44  California   White Mountain Peak       4338   37.634    -118.256
45  California        White-Inyo Range     4336   37.634    -118.256
46  California             Crooks Peak     4328   36.574    -118.291
47  California            Mount Sill       4312   37.096    -118.504
48  California          Mount Shasta       4303   41.409    -122.195
49  California         Mount Russell       4281    36.59    -118.291

In [18]:

mountain_elevation["Elevation"] = mountain_elevation.Elevation.astype(float)
mountain_elevation["Latitude"] = mountain_elevation.Latitude.astype(float)
mountain_elevation["Longitude"] = mountain_elevation.Longitude.astype(float)
mountain_elevation

       State       Mountain_Name  Elevation  Latitude  Longitude
0    Alabama   Cheaha Mountain        726.0    33.486    -85.809
1    Alabama  Talladega Mountain      715.0    33.458    -85.812
2    Alabama          Odum Point      714.0    33.416    -85.831
3    Alabama      Hernandez Peak      703.0    33.458    -85.813
4    Alabama           Bald Rock      696.0    33.495    -85.808
..       ...                 ...        ...       ...        ...
505       DC      Mount Hamilton       71.0    38.909    -76.975
506       DC         Bunker Hill       71.0    38.935    -76.988
507       DC    Soapstone Valley       65.0    38.948    -77.065
508       DC           Lees Hill       63.0    38.913    -77.066
509       DC          Round Hill       61.0    38.926    -76.989

[510 rows x 5 columns]

In [19]:
mountain_elevation.dtypes

State             object
Mountain_Name     object
Elevation        float64
Latitude         float64
Longitude        float64
dtype: object

In [20]:
# Export to csv file
mountain_elevation.to_csv(r'data\mountain_elevation_final.csv')